@import url('https://fonts.googleapis.com/css?family=Mansalva&display=swap');

* {
    padding: 0;
    margin: 0;
    text-align: center;
}

body {
    background-color: lightgreen;
}

h1 {
    font-family: 'Mansalva', cursive, sans-serif;
}
  
#box {
    z-index: 1;
    height: 100px;
    width: 100px;
    left: 700px;
    top: 400px;
    position: absolute;
    border: 1px solid black;
}  

#unicorn {
    width: 100%;
}



